<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            Navegación Estatica <br/>
            <h:commandButton action="welcome" value="Bienvenido" />
            <h:commandButton action="user/usuario" value="Usuario" />
            <br/>
            Navegación dinamica<br/>
            <h:selectBooleanCheckbox value="#{user.logear}"/>
            <h:commandButton action="#{user.login()}" value="Login"/>
            #{param.get("name")}
        </h:form>
    </h:body>
</html>

