<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
        <link href="/isw-academy/css/login.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <f:metadata>
            <f:event listener="#{user.loadCookie()}" type="preRenderView"></f:event>
        </f:metadata>
    </h:head>
    <h:body>
        <div class="container-fluid">
            <div class="row">
                <!-- fila del formulario -->
                <div class="col-md-4">
                    <h:form>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-10">
                                <img src="/isw-academy/img/Logo.png" class="logo"/>
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <h:inputText class="form-control" id="username" value="#{user.usuario.username}" />
                                </div>
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <h:inputSecret class="form-control" id="password" value="#{user.usuario.password}" />
                                </div>
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-10">
                                <h:commandButton class="btn btn-primary btn-login" value="Login" action="#{user.login()}" />
                                <span class="badge badge-danger">#{user.error}</span>
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-10">
                            <div class="form-group form-check">
                                <h:selectBooleanCheckbox class="form-check-input" id="recordarme" value="#{user.rememberme}"/>
                               
                                <label class="form-check-label check-remember" for="recordarme">Remember me</label>
                              </div>
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-10">
                                <h:commandLink class="btn btn-link btn-forgot" value="Forgot your password?" action="#{user.login()}" />
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                    </div>
                    </h:form>
                </div>
                
                <!-- Fila de la imagen de oferta-->
                <div class="col-md-8">
                    <div class="oferta">
                        <p>We have more than 100 courses register now
                        and take the 30% off in your first buy.</p>
                        <h:form>
                            <h:commandLink class="btn btn-danger" value="Register Now !!" action="registrar"/>
                        </h:form>
                        <!--<a class="btn btn-danger" >Register Now !!</a>-->
                    </div>
                    <img src="/isw-academy/img/Oferta.jpg" class="oferta-img" />
                </div>
            </div>
        </div>
    </h:body>
</html>

