<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
        <link href="/isw-academy/css/navbar.css" rel="stylesheet" type="text/css"/>
        <link href="/isw-academy/css/bienvenida.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/ad9b69165e.js" crossorigin="anonymous"></script>
    </h:head>
    <h:body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="#">
                <img src="/isw-academy/img/logo-linea.png" alt="" height="35" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link categories" href="#">
                            <i class="fas fa-th"></i>
                            Categories
                        </a>
                    </li>
                    <li class="nav-item ">
                        <form class="form-inline  my-2 my-lg-0">
                            <div class="search">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search your course" aria-label="Search" />
                                <i class="fas fa-search" ></i>
                            </div>
                        </form>
                    </li>

                    <li class="nav-item ">
                        <h:form>
                            <h:commandLink class="nav-link my-courses" action="formCurso" value="My Courses" />
                        </h:form>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#"  >
                            <i class="far fa-heart favoritos"></i>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link notifications" href="#"  >
                            <i class="far fa-bell"></i>
                            <span>
                                2
                            </span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link profile" href="#"  >
                            <i class="far fa-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="container">
            <div class="row">
                <div class="col-md-12 offer">
                    <img src="/isw-academy/img/especial-offer.jpg" alt="" width="100%"/>
                    <div class="offer-text">
                        <h3>Especial Offer</h3>
                        <p>A new Course of JSF 2.0 is Available only for</p>
                        <span class="price">$1</span>
                    </div>
                </div>
            </div>
            <div class="row popular-section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="titulo">The most Popular</h2>
                            <div class="subtitulo">See our most popular courses</div>
                            <br/>
                        </div>
                    </div>
                    <div class="row cards">
                        <div class="left-chevron">&lt;</div>
                        <div class="right-chevron">&lt;</div>
                        <div class="col-md-4" style="align-items: center;">
                            <div class="card" style="width: 90%; margin-left: 5%;">
                                <img src="/isw-academy/img/Oferta.jpg" class="card-img-top" alt="" style=" width: 100%;"/>
                                <div class="card-body">
                                    <h5 class="card-title">JSF 2.0</h5>
                                    <p class="card-text">This course was designed for begginers take a look.</p>
                                    <a href="#" class="btn btn-primary">Take it</a>
                                    <i class="far fa-heart favoritos" style="float: right; font-size: 2.2em;"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 90%; margin-left: 5%;">
                                <img src="/isw-academy/img/Oferta.jpg" class="card-img-top" alt="" style=" width: 100%;"/>
                                <div class="card-body">
                                    <h5 class="card-title">JSF 2.0</h5>
                                    <p class="card-text">This course was designed for begginers take a look.</p>
                                    <a href="#" class="btn btn-primary">Take it</a>
                                    <i class="far fa-heart favoritos" style="float: right; font-size: 2.2em;"></i>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 90%; margin-left: 5%;">
                                <img src="/isw-academy/img/Oferta.jpg" class="card-img-top" alt="" style=" width: 100%;"/>
                                <div class="card-body">
                                    <h5 class="card-title">JSF 2.0</h5>
                                    <p class="card-text">This course was designed for begginers take a look.</p>
                                    <a href="#" class="btn btn-primary">Take it</a>
                                    <i class="far fa-heart favoritos" style="float: right; font-size: 2.2em;"></i>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                </div>
            </div>



            <div class="row recommended-section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="titulo">Recommended</h2>
                            <div class="subtitulo">See our selection for you</div>
                            <br/>
                        </div>
                    </div>
                    <div class="row cards">
                        <div class="left-chevron">&lt;</div>
                        <div class="right-chevron">&lt;</div>

                        <div class="col-md-8">
                            <div class="card mb-3" style="width: 90%; margin-left: 5%; height: 100%">
                                <div class="row no-gutters" style=" height: 100%">
                                    <div class="col-md-4">                                        
                                        <img src="/isw-academy/img/Oferta.jpg" class="card-img-top" alt="" style="height: 100%; width: 100%;"/>
                                    </div>
                                    <div class="col-md-8 especial-card" >
                                        <div class="card-body">
                                            <h5 class="card-title">JSF 2.0 </h5>
                                            <p class="card-text">This course was designed for begginers take a look.</p>
                                            <div class="separator">&nbsp;</div>

                                        </div>
                                        <div class="footer" >
                                            <i class="far fa-heart" style="float: right; font-size: 2.4em; color:#999; margin-left: 5px;"></i>
                                            <a href="#" class="btn btn-primary" style="float: right;">Take it</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 90%; margin-left: 5%;">
                                <img src="/isw-academy/img/Oferta.jpg" class="card-img-top" alt="" style=" width: 100%;"/>
                                <div class="card-body">
                                    <h5 class="card-title">JSF 2.0 
                                    <i class="far fa-heart" style="float: right; font-size: 2.2em; color:#999; margin-left: 5px;"></i>
                                    <a href="#" class="btn btn-primary" style="float: right;">Take it</a>

                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                </div>
            </div>


        </div>



    </h:body>
</html>

