<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
        <link href="../css/registrar.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    </h:head>
    <h:body>
        <h:form>
            <div class="container">
                <div class="row mt-40">
                    <div class="col-md-4">&nbsp;</div>
                    <div class="col-md-4">
                        <div class="logo-container">
                            <img src="../img/Logo.png" alt=""/>
                        </div>
                        <div class="form-group">
                            <label for="fullname">Fullname <span>*</span></label>
                            <h:inputText class="form-control" id="fullname" value="#{userDAO.usuario.fullname}" required="true" requiredMessage="You need digit the full name of the user"/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email <span>*</span></label>
                            <h:inputText class="form-control" id="email" value="#{userDAO.usuario.email}" required="true" requiredMessage="You need digit the email of the user"/>
                        </div>
                        <div class="form-group">
                            <label for="username">Username <span>*</span></label>
                            <h:inputText class="form-control" id="username" value="#{userDAO.usuario.username}" required="true" requiredMessage="You need digit the username of the user"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password <span>*</span></label>
                            <h:inputSecret class="form-control" id="password" value="#{userDAO.usuario.password}" required="true" requiredMessage="You need digit the password of the user"/>
                        </div>
                        <div class="form-group">
                            <h:commandButton class="btn btn-primary btn-registrar" value="Register" action="#{userDAO.registrar()}" />
                        </div>
                         <span class="badge badge-danger">#{userDAO.error}</span>
                    </div>
                    <div class="col-md-4">&nbsp;</div>
                </div>
            </div>
        </h:form>
    </h:body>
</html>

