<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      >
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Subir Archivos
            <c:if test="#{not empty upload.imgB64}">
                <img src="data:#{upload.conttype};base64,#{upload.imgB64}" />
                <a href="data:#{upload.conttype};base64,#{upload.imgB64}">Archivo</a>
            </c:if>
            
        <h:form enctype="multipart/form-data">
            
            <h:inputFile value="#{upload.file}" />
            <h:commandButton action="#{upload.upload()}" value="Subir"/>
        </h:form>
    </h:body>
</html>

